.chat {
    width: 50%;
    margin: 1% auto 0;
    padding: 1%;
    border: 1px solid #000;
    border-radius: 4px;
}

.chat-settings {
    /* padding: 1%; */
}

.chat-message-list {
    margin: 10px 0;
    padding: 1%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.chat-pagination {
    text-align: center;
}


.ui .label #message-id {
    display: flex;
    justify-content: right;
    background: red;
    font-size: 54px;
}
